asgiref==3.4.1
beautifulsoup4==4.10.0
bootstrap4==0.1.0
Django==3.2.9
django-bootstrap4==21.1
pytz==2021.3
soupsieve==2.3.1
sqlparse==0.4.2
asgiref==3.4.1
beautifulsoup4==4.10.0
cachetools==4.2.4
certifi==2021.10.8
charset-normalizer==2.0.9
Django==3.2.9
django-bootstrap4==21.1
django-crispy==1.8.1
google==3.0.0
google-auth==2.3.3
idna==3.3
kubernetes==20.13.0
oauthlib==3.1.1
protobuf==3.19.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pylogrus==0.4.0
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.8
shortuuid==1.0.8
six==1.16.0
soupsieve==2.3.1
sqlparse==0.4.2
urllib3==1.26.7
websocket-client==1.2.1
