{% extends "base.html" %}

{% block title %}Customer List{% endblock %}

{% block heading %}Customer List{% endblock %}

{% block content %}
    {% if object_list %}
        <table class='table'>
            <tr>
                <th>Customer</th>
            </tr>
            {% for i in object_list %}
                <tr>
                    <td>{{ i.name }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No customers</p>
    {% endif %}
{% endblock %}