{% extends "base.html" %}

{% block title %}Customer Form{% endblock %}

{% block heading %}Customer Form{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <form method="POST" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary float-left">Save</button>
        <a href="{{ next }}" class='btn btn-secondary ml-2'>Cancel</a>
        {% if object.pk %}
            <a href="{% url 'customer-delete' pk=object.pk %}?next={{ next }}" class='btn btn-danger float-right'>Delete</a>
        {% endif %}
    </form>
{% endblock %}