{% extends "base.html" %}

{% block title %}{{ iolist.plant.customer }} {{ iolist.plant }} {{ iolist.name }}{% endblock %}

{% block heading %}IO List{% endblock %}

{% block content %}
    {% if iolist %}
        <table class='table'>
            <tr>
                <th>Customer</th>
                <td>{{ iolist.plant.customer }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ iolist.plant }}</td>
            </tr>
            <tr>
                <th>IO List</th>
                <td>{{ iolist }}</td>
            </tr>
            <tr>
                <th>Actions</th>
                <td>
                    <a href="{% url 'iolist-chassis-create' iolist_id=iolist.pk %}?next={{ request.path }}" class="btn btn-primary">Add Chassis</a>
                    <a href="{% url 'iolist-bank-create' iolist_id=iolist.pk %}?next={{ request.path }}" class="btn btn-primary">Add Valve Bank</a>
                    <a href="{% url 'iolist-busdevice-create' iolist_id=iolist.pk %}?next={{ request.path }}" class="btn btn-primary">Add Drive / Bus Device</a>
                    <a href="{% url 'iolist-update' pk=iolist.pk %}?next={{ request.path }}" class="btn btn-primary">Edit Info</a>
                </td>
            </tr>
        </table>
    {% endif %}
 
    {% if chassis %}
        {% for c in chassis %}
            <br />
            <!-- Chassis information on top of the point / card table -->
            <table class="table">
                <tr>
                    <th>Rack</th>
                    <th>Slot</th>
                    <th>Point</th>
                    <th>Tag</th>
                    <th>Address</th>
                    <th colspan="4">Description</th>
                    <th>Actions</th>
                </tr>
                <tr style="background-color: rgb(171, 144, 182);">
                    <td>{{ c.name }}</td>
                    <td>0</td>
                    <td><!-- Point --></td>
                    <td><!-- Tag --></td>
                    <td><!-- Address --></td>
                    <td><!-- Description 1 --></td>
                    <td>{{ c.make }}</td>
                    <td>{{ c.part_number }}</td>
                    <td>{{ c.address }}</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle pt-0 pb-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'chassis-update' pk=c.pk %}?next={{ request.path }}">Edit</a>
                                <a class="dropdown-item" href="{% url 'chassis-card-create' chassis=c.pk %}?next={{ request.path }}">Add Card</a>
                            </div>
                        </div>
                    </td>
                </tr>
                {% if c.card_set.all %}
                    {% for card in c.card_set.all %}
                        <tr style="background-color: rgb(203, 220, 236);">
                            <td>{{ c.name }}</td>
                            <td>{{ card.slot }}</td>
                            <td><!-- Point --></td>
                            <td>{{ card.name }}</td>
                            <td><!-- Address --></td>
                            <td><!-- Description 1 --></td>
                            <td><!-- Description 2 --></td>
                            <td>{{ card.make }}</td>
                            <td>{{ card.part_number }}</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary dropdown-toggle pt-0 pb-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Action
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="{% url 'card-update' pk=card.pk %}?next={{ request.path }}">Edit</a>
                                        <a class="dropdown-item" href="{% url 'card-point-create' card_id=card.pk %}?next={{ request.path }}">Add Point</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% for p in card.point_set.all %}
                            <tr>
                                <td>{{ p.card.chassis.name }}</td>
                                <td>{{ p.card.slot }}</td>
                                <td>{{ p.number }}</td>
                                <td>{{ p.tag }}</td>
                                <td>{{ p.address }}</td>
                                <td>{{ p.description_1|default_if_none:''}}</td>
                                <td>{{ p.description_2|default_if_none:''}}</td>
                                <td>{{ p.description_3|default_if_none:''}}</td>
                                <td>{{ p.description_4|default_if_none:''}}</td>
                                <td><a href="{% url 'point-update' pk=p.pk %}?next={{ request.path }}">Edit</a></td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            </table>
        {% endfor %}
    {% else %}


    {% endif %}

    <h3>Valve Banks</h3>
    <table class='table'>
        <tr>
            <th>Rack</th>
            <th>Slot</th>
            <th>Point</th>
            <th>Tag</th>
            <th>Address</th>
            <th colspan="4">Description</th>
            <th>Actions</th>
        </tr>
        {% for v in valve_banks %}
            <tr style="background-color: rgb(171, 144, 182);">
                <td>{{ v.name }}</td>
                <td><!-- Slot --></td>
                <td><!-- Point --></td>
                <td><!-- Tag --></td>
                <td><!-- Address --></td>
                <td><!-- Description 1 --></td>
                <td>{{ v.make }}</td>
                <td>{{ v.part_number }}</td>
                <td>{{ v.address }}</td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle pt-0 pb-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Action
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'bank-update' pk=v.pk %}?next={{ request.path }}">Edit</a>
                            <a class="dropdown-item" href="{% url 'bank-solenoid-create' valvebank_id=v.pk %}?next={{ request.path }}">Add Valve</a>
                        </div>
                    </div>
                </td>
            </tr>
            {% if v.solenoid_set.all %}
                {% for s in v.solenoid_set.all %}
                    <tr>
                        <td>{{ v.name }}</td>
                        <td>{{ s.slot }}</td>
                        <td>{{ s.point }}</td>
                        <td>{{ s.tag }}</td>
                        <td>{{ s.address }}</td>
                        <td>{{ s.description_1|default_if_none:'' }}</td>
                        <td>{{ s.description_2|default_if_none:'' }}</td>
                        <td>{{ s.description_3|default_if_none:'' }}</td>
                        <td>{{ s.description_4|default_if_none:'' }}</td>
                        <td><a href="{% url 'solenoid-update' pk=s.pk %}?next={{ request.path }}">Edit</a></td>
                    </tr>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </table>


    <h3>Drives / Bus Devices</h3>
    <table class="table">
        <tr>
            <th>Rack</th>
            <th>Slot</th>
            <th>Point</th>
            <th>Tag</th>
            <th>Address</th>
            <th colspan="4">Description</th>
            <th>Actions</th>
        </tr>

        {% if bus_devices %}
            {% for b in bus_devices %}
                <tr>
                    <td>{{ b.chassis }}</td>
                    <td><!-- Slot --></td>
                    <td><!-- Point --></td>
                    <td>{{ b.tag }}</td>
                    <td><!-- Address --></td>
                    <td>{{ b.description_1|default_if_none:'' }}</td>
                    <td>{{ b.description_2|default_if_none:'' }}</td>
                    <td>{{ b.description_3|default_if_none:'' }}</td>
                    <td>{{ b.address|default_if_none:'' }}</td>
                    <td><a href="{% url 'busdevice-update' pk=b.pk %}?next={{ request.path }}">Edit</a></td>
                </tr>
            {% endfor %}
        {% else %}
            <td colspan="10">No Bus Devices</td>
        {% endif %}
    </table>
{% endblock %}