{% extends "base.html" %}

{% block title %}Location List{% endblock %}

{% block heading %}Location List{% endblock %}

{% block content %}
    {% if customer %}
        <h3>Customer: {{ customer.name }}</h3>
    {% endif %}
    {% if object_list %}
        <table class='table'>
            <tr>
                {% if not customer %}<th>Customer</th>{% endif %}
                <th>Location</th>
                <th>Street</th>
                <th>Line 2</th>
                <th>City</th>
                <th>State</th>
                <th>Zip Code</th>
                <th></th>
            </tr>
            {% for i in object_list %}
                <tr>
                    {% if not customer %}<td>{{ i.customer }}</td>{% endif %}
                    <td><a href="{% url 'location-iolist-list' location_id=i.pk %}">{{ i.short_name }}</a></td>
                    <td>{{ i.street }}</td>
                    <td>{{ i.line2 }}</td>
                    <td>{{ i.city }}</td>
                    <td>{{ i.state }}</td>
                    <td>{{ i.zip_code }}</td>
                    <td><a href="{% url 'location-update' pk=i.pk %}?next={{ request.path }}">Edit</a></td>
                </tr>
            {% endfor %}
        </table>
        {% if customer %}
            <p><a href="{% url 'customer-location-create' customer_id=customer.pk %}?next={{ request.path }}">Create new plant</a></p>
        {% else %}
            <p><a href="{% url 'location-create' %}?next={{ request.path }}">Create new plant</a></p>
        {% endif %}
    {% else %}
        <p>No locations</p>
    {% endif %}
{% endblock %}