{% extends "base.html" %}

{% block title %}Location List{% endblock %}

{% block heading %}Location List{% endblock %}

{% block content %}
    {% if object_list %}
        <table class='table'>
            <tr>
                <th>Customer</th>
                <th>Location</th>
                <th>Street</th>
                <th>Line 2</th>
                <th>City</th>
                <th>State</th>
                <th>Zip Code</th>
            </tr>
            {% for i in object_list %}
                <tr>
                    <td>{{ i.customer }}</td>
                    <td>{{ i.short_name }}</td>
                    <td>{{ i.street }}</td>
                    <td>{{ i.line2 }}</td>
                    <td>{{ i.city }}</td>
                    <td>{{ i.state }}</td>
                    <td>{{ i.zip_code }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No locations</p>
    {% endif %}
{% endblock %}